.button {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-start;
    padding: 14px 41px;
    height: 49px;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
