.container-medical-record {
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-medical-record {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.row-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.row-buttons {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-around;
}

